@import "colors";

a:hover {
  text-decoration: none;
}
section {
  header {
    text-transform: uppercase;
    span {
      color: $grey-text-color;
      font-size: 10px;
      display: inline-block;
    }

    h1 {
      color: black;
      font-weight: 800;
      font-size: 30px;
      margin-bottom: 25px;
    }
  }

  padding: 70px 0;
  @media (max-width: 992px) {
    .row {
      .col-lg-6 .col-6 {
        margin: 15px 0;
      }
    }
  }
}

#about-us {
  color: $grey-text-color;
  .button__green {
    align-self: flex-end;
  }
  .about-us__medal-wrapper {
    position: absolute;
    height: 266px;
    width: 228px;
    top: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

#steps {
  background-color: $grey-bg-color;
  .step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 280px;
    box-sizing: border-box;
    .step__image {
      width: 60px;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      color: $grey-text-color;
    }
    .step__title {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 16px;
      color: black;
    }

    .step__title::before {
      content: attr(data-number);
      display: block;
      color: $green-color;
    }
  }
}

#projects {
  .project {
    display: flex;

    img {
      width: 100%;
      height: 100%;
    }

    .label {
      display: inline-block;
      position: absolute;
      color: white;
      border: 2px solid $orange-color;
      border-radius: 105px;
      line-height: 20px;
      padding: 5px 25px 5px 25px;
      margin: 15px 0 0 15px;
      text-transform: uppercase;
    }
    .plus-sign {
      display: inline-block;
      position: absolute;
      background-size: 100%;
      background-image: url("../img/blue-plus.png");
      width: 35px;
      height: 35px;
    }
  }
  .project:hover {
    img {
      opacity: 0;
    }
    background-color: $orange-color;
    .plus-sign {
      background-image: url("../img/orange-plus.png");
    }
    .label {
      align-self: center;
      display: inline-block;
      border: none;
      color: white;
      padding: 0 15px;
      margin: 0;
      font-weight: 700;
      text-transform: uppercase;
    }
    .label:after {
      content: "Lorem Ipsum is simply dummy text of the printing and...";
      display: block;
      font-size: 8px;
      padding: inherit;
    }
  }

  .button__green {
    margin-top: 40px;
  }
}

#testimonials {
  background-color: $blue-color;
  color: white;
  header > span,
  h1 {
    color: white;
  }
  .author {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    max-height: 80px;
    .author__avatar {
      max-height: 75px;
      max-width: 75px;
      img {
        border-radius: 50%;
      }
    }
    span {
      display: block;
    }
  }
}

#blog {
  background-color: $grey-bg-color;
  position: relative;
  .posts__button {
    color: $grey-text-color;
    border: 2px $grey-text-color solid;
    line-height: 45px;
    display: inline;
    border-radius: 15px;
    padding: 5px 15px 7px 15px;
    margin: 0 5px;
    transition: border-color 0.2s ease;
  }
  .posts__button:hover {
    border-color: $orange-color;
  }

  .post {
    max-width: 90%;
    margin: 15px 0 15px 0;
    color: black;
    display: block;
    .post__date,
    .post__title {
      font-weight: bold;
      transition: color 0.2s ease;
    }
    .post__beginning {
      color: $grey-text-color;
    }
  }
  .post:hover {
    .post__title {
      color: $orange-color;
    }
  }
}
#blog:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  bottom: 0;
  width: 50%;
  background-image: url("../img/man_on_mountain.jpg");
  background-size: cover;
  background-position: center center;
}

@media (max-width: 992px) {
  #blog:before {
    display: none;
  }
}

#contact-us {
  .contact {
    color: black;
    border: 1px solid $grey-text-color;
    min-height: 125px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: border-width 0.5s ease;
    transition: border-color 0.5s ease;
    .contact__title {
      font-weight: 700;
      text-transform: uppercase;
    }
    .contact__title::after {
      content: "\A";
      white-space: pre;
    }
  }
  .contact:hover {
    border-color: $orange-color;
    border-width: 2px;
  }
}
