


.testimonials {
  background-color: var(--blue-color);
}

.testimonials {
  color: white;
}
.testimonials .section-description {
  color: white;
}

.quote_author {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  max-height: 80px;
}
.avatar_wrapper > img {
  border-radius: 50%;
}
.avatar_wrapper {
  max-height: 75px;
  max-width: 75px;
}

.footer {
  background-color: #262829;
  color: white;
}

a.posts_button {
  text-decoration: none;
  color: var(--grey-text-color);
  border: 2px var(--grey-text-color) solid;
  line-height: 45px;
  display: inline;
  border-radius: 15px;
  padding: 5px 15px 7px 15px;
  margin: 0 10px 0 10px;
}

a.posts_button:hover {
  border-color: var(--orange-color);
}

.blog {
  position: relative;
}

.blog:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  bottom: 0;
  width: 50%;
  background-image: url("img/man_on_mountain.jpg");
  background-size: cover;
  background-position: center center;
}

@media (max-width: 992px) {
  .blog:before {
    display: none;
  }
}

.post {
  max-width: 90%;
  margin: 15px 0 15px 0;
  text-decoration: none;
  color: black;
  display: block;
}
.post__date,
.post__title {
  font-weight: bold;
}

.post__beginning {
  color: var(--grey-text-color);
}

.contact__item {
  border: 1px solid var(--grey-text-color);
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact__title {
  font-weight: bold;
}

.contact__title::after {
  content: "\A";
  white-space: pre;
}

.footer__subscription div > input {
  color: black;
  background-color: #323334;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  height: 45px;
  border: none;
  padding: 0 10px 0 29px;
  width: 70%;
}

.input__button {
  position: absolute;
  right: 105px;
}

.column__items {
  list-style: none;
  margin: 20px 0 20px -40px;
}

.grey-text,
.column__items a {
  color: var(--grey-text-color);
}

.copyright::before {
  content: "";
  height: 1px;
  border-top: 1px solid #323334;
  width: 100%;
}

.copyright {
  font-size: 12px;
}
