@import url("https://fonts.googleapis.com/css?family=Montserrat");

div.wrapper {
  overflow-x: hidden;
}

div.wrapper * {
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
}

@import "buttons";
@import "header";
@import "top";
@import "content";
@import "footer";
