@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  font-family: "Montserrat", sans-serif;
}
:root {
--grey-text-color: #898e8f;
--green-color: #16d428;
}

.header {
  height: 40px;
  align-items: center;
}

.header__contacts {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

.header__contacts__description {
  color: #727779;
  font-size: 10px;
}

a.header__url:hover {
  color: #ffac55 !important;
}

.header__block {
  background-image: url("img/girl_with_laptop.png");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-position: 0 15%;
  background-size: cover;
}
.header__box {
    width: 500px;
    height: 600px;
    background-color: red
}
.header__box_wrapper {
    display: flex;
    height: 700px;
    align-items: flex-end;
}

.about-us {
    height: 700px;
}
.about-us__wrapper{
    height: 350px;
}

.about-us_title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: var(--grey-text-color);
}

.about-us_description {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
}

.about-us__text {
    color: var(--grey-text-color);
}
.about-us__button {
    background-color: var(--green-color);
    height: 45px;
    width: 135px;
    border-radius: 25px;
    font-size: 15px;
}

img {
    width: 100%;
    height: 100%;
}

.about-us__image_wrapper {
    width: 460px;
    height: 260px;
}

.about-us__medal_wrapper {
    position: absolute;
    height: 280px;
    width: 240px;
    margin-top: 150px;
}

.steps__block {
    height: 500px;
    background-color: #e7eff1;
}

.steps-title {
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 110px;
    margin-bottom: 25px;
}

.steps-title > span:nth-of-type(1){
    color: var(--grey-text-color);
}
.steps-title > span:nth-of-type(2){
    font-weight: 700;
    font-size: 20px;
}

.step__image {
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
}

.step__number {
    color: var(--green-color);
    font-weight: 900;
    margin-bottom: 15px;
}

.step__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 15px;
}

.step__text {
    color: var(--grey-text-color);
}